:root {
  --main-font-family: "Noto Sans", sans-serif;
  --light-color: #f8f9fa;
  --dark-color: #212529;
  --main-bg-color: #0c6291;
  --secondary-color: #78ce92;
}

* {
  color: var(--light-color);
}

header {
  background-color: var(--main-bg-color);
  font-size: large;
  font-family: var(--main-font-family);
  /* border-bottom: 0.25rem solid var(--light-color); */
}

.active-nav {
  color: var(--secondary-color);
}

.change:hover {
  color: var(--secondary-color) !important;
}
.change2:hover {
  box-shadow: 3px 5px 10px rgb(136, 133, 126, 0.5) !important;
}

.curious {
  color: #78ce92;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

.about-me {
  padding-right: 20rem;
  padding-left: 20rem;
  text-align: justify;
}

.home {
  padding: 8rem;
  width: auto;
}

.home-h1 {
  font-size: 4rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
  margin-bottom: 120px;
}

footer {
  background-color: var(--main-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.image-card {
  min-height: "2rem";
  height: "2rem";
  width: 100%;
  object-fit: cover;
}

.portfolio {
  padding-bottom: 10rem;
}

@media only screen and (max-width: 1170px) {
  .portfolio {
    padding-bottom: 10rem;
  }
  .about-me {
    padding: 4rem;
  }
  .media-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
  }
  .home {
    margin-top: 1rem;
    padding: 1rem;
    margin-bottom: 115px;
  }
  .contact {
    margin-bottom: 2rem;
    margin-top: 1rem !important;
  }
}
